/******************************************
PAGE: ACCESSIBILITY
******************************************/
/* Colors */
#a11yContent h1, h2, h3 {
    color:#af5920;
}

/* Other Styles */
.siteList dt {
    font-weight: bold;
}

#a11yTitle {
    display: block;
    text-align: center;
}

.a11ySubTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
}