/* #blogTitle {
    text-align: center;
}

.blogPost {
    min-width: 80%;
}

.blogPost img {
    max-height: 500px;
    display: block;
    max-width: 40%;
    border: 2px solid black;
    border-radius: 5px;
}

.blogquote {
    padding-top: 15px;
    text-indent: 15px;
} */

pre {
    background-color: #2D2D2D;
}