/******************************************
PAGE: MAIN PAGE
******************************************/
#gallery, 
#gallery figcaption {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery figure {
    float: left;
    width: 45%;
    margin: 1%;
}

#gallery img {
    border: 2px solid #af5920;
    border-radius: 25px;
    max-width: 100%;
}

#gallery figcaption {
    margin: 0;
    padding: 1%;
    font-size: 0.80em;
    text-align: center;
    color: black;
}