/******************************************
How to Include chosen Google Fonts:

font-family: 'Nunito Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
******************************************/

/******************************************
GENERAL
******************************************/
/*Wrapper section styles. Includes everything under the nav down to the footer.*/
#skip-content {
    background: #bd4b00;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px 5%;
}

.highlight {
    font-weight: bold;
}

a {
    font-weight: bold;
}

header a, footer a {
    text-decoration: none; /** Removes link styling. **/
}

main a {
    text-decoration: underline;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.tabbed {
    padding-left: 1.5em;
}

.social-icon {
    font-weight: 5em;
    margin: 5px;
}

/* Whenever I want to indicate an error in a form or other interactive element */
.error {
    font-weight: bold;
}

.vl {
    border-left: 2px solid #bd4b00;
    height: 500px;
    margin: 0 6px;
}

hr {
    margin-top: 25px;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    margin: -1px;
}

/******************************************
COLORS
******************************************/

/*Site body*/
body, p, figure figcaption {
    background-color: #f0f5f5;
    color: #242424;
}

/*Header section*/

header {
    border-color: #f27a2b;
    background: #bd4b00;
}

/*nav bkgrd on mobile*/
header nav {
    background: #f27a2b;
}

.breadcrumbs {
    background: #933c01;
    color: white;
}

.breadcrumbs a:visited {
    color: white;
}

/* Header text */
#logoDiv h1 {
    color: #fff;
}

#logoDiv h2, #skip-content {
    color: #fff;
}

.mainHeadline {
   color:#682d06;
}

h1, h2, h3 {
    color:#733c17;
}

/*links*/
a {
   color: #6c4600;
}

/* Keep links in main nav from changing color. They only change appearance when active. */
nav a, nav a:visited, nav a.selected, nav a:hover {
    color: #1C0800;
}

/* Whenever I want to indicate an error in a form or other interactive element */
.error {
    color: darkred;
 }

.social-icon {
    color: #733c17;
}

#navHouse {
    color: #ffffff;
}

/******************************************
NAVIGATION
Footer navigation located in Footer section
******************************************/

nav a.selected, nav a:hover {
    text-decoration: underline;
    font-weight:900;
}

#skip-content {
    font-weight: bold;
}

nav {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding-top: 10px;
}

header nav {
    margin: 0;
}

header nav ul {
    padding: 15px 20px 15px 20px;
    margin-bottom: 0;
}

header nav a {
    font-weight: 700;
    height: 25%;
    padding: 15px 10px 15px 10px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    align-content: left;
    display:flex;
    font-weight: bold;
}

.breadcrumbs nav {
    align-self: flex-start;
}

.breadcrumbs ul {
    margin: 12px;
}

.breadcrumbs li {
    padding: 0px;
}

/******************************************
HEADINGS
******************************************/
h1 {
    font-family: 'Ubuntu', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}

#wrapper h2{
    font-size: 1.40em;
    font-weight: bold;
    margin-top: 5px;
}

h3 {
    margin: 0 0 1em 0;
}

.mainHeadline {
    text-align: center;
 }

 /******************************************
HEADER
******************************************/
 header {
    float: left;
    width: 100%;
}

/*Logo encompasses just the part where it says my name and a title.*/
#logoDiv {
    text-align: center;
    align-content: center;
}

#skipContentDiv {
    margin: 5px 5px;
}

#logoDiv img {
    max-width: 20%;
    margin: 5px 40%;
}

#logoDiv {
    padding-bottom: 5px;
}

#logodiv h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    margin: -5px 5px 3px 0px;
    padding-bottom: 2px;
    font-weight: bold;
}

/******************************************
FOOTER
******************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}

footer ul {
    padding: 0;
}

#wcagIcon {
    display: block;
}