/******************************************
How to Include chosen Google Fonts:

font-family: 'Nunito Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
******************************************/
/* new background color #DD610E */
/* old background color #F27A2B */
/* other possible background color #93420C; */

/******************************************
GENERAL
******************************************/
/*Wrapper section styles. Includes everything under the nav down to the footer.*/
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 20px 5%;
}

.highlight {
    font-weight: bold;
}

a {
    text-decoration: none; /** Removes link styling. **/
}

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

.tabbed {
    padding-left: 1.5em;
}

.social-icon {
    font-weight: 5em;
    margin: 5px;
}

#logo {
    padding-bottom: 5px;
}

/******************************************
COLORS
******************************************/

/*Site body*/
body, p, figure figcaption {
    background-color: #f0f5f5;
    color: #242424;
}

/*Header section*/

header {
    /* border-color: #af5920;*/
    border-color: #f27a2b;
    /* background: #DD610E; */
    background: #DD610E;
}

/*nav bkgrd on mobile*/
nav {
    background: #f27a2b;
}

/*Logo text*/
#logo h1, 
#logo h2 {
    /* color: #fff; */
    color: #1C0800;
}

#logo h2 {
    font-size: 1em;
}

.mainHeadline {
   color:#682d06;
   text-align: center;
}

/*links*/
a {
   color: #7d6608;
}

/*nav styles*/
nav a, 
nav a:visited {
    /* color: #fff; */
    color: #1C0800;
}

nav a.selected, nav a:hover {
    color: #1C0800;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.error {
   color: darkred;
   font-weight: bold;
}

.social-icon {
    color: #af5920;
}

#gallery img {
    border: 2px solid #af5920;
}

#gallery figcaption {
    color: black;
}

.resume-photo {
    border: 2px solid #af5920;
}

#resumeWrapperA h1 h2 {
    color: #af5920;
}

#resumeWrapperB a {
    font-weight: bold;
}

#resumeName {
    color: #af5920;
}

#resumeWrapperB h1 h2 {
    font: black;
}

/******************************************
HEADING
******************************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

/*Logo encompasses just the part where it says my name and a title.*/
#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}

#logo h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9em;
    margin: -5px 5px 3px 0px;
    padding-bottom: 2px;
    font-weight: normal;
}


/******************************************
NAVIGATION
******************************************/
nav {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
}

nav ul {
    list-style: none;
    padding: 15px 20px 15px 20px;
    margin-bottom: 0;
    margin-top: 0;
}

nav li {
    display: inline-block;
}
nav a {
    font-weight: 700;
    height: 25%;
    padding: 15px 10px 15px 10px;
    margin: 0 8px 8px 8px;
}

/******************************************
FOOTER
******************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}
