/* Applies to many smartphones in landscape mode. */
@media screen and (min-width: 616px) {

    /******************************************
    TWO COLUMN LAYOUT
    ******************************************/
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    
    /******************************************
    PORTFOLIO GALLERY 3 COLUMN LAYOUT

    2.5% (l/r margins of pics) * 5 = 15%
    100% - 15% = 85%
    85% / 3 images = 28.3333% of width to be 
    taken up by pictures.
    ******************************************/
    #gallery figure {
        width: 28.3333%;
    }
    #gallery figure:nth-child(3n+1) {
        clear: left;
    }
}

@media screen and (max-width: 615px) {
    #secondary{
        width: 100%;
        float: left;
        clear: both;
        text-align: center;
    }
    #primary {
        width: 100%;
        float: right;
        clear: both;
    }    
}

@media screen and (min-width: 1155px) {
    /******************************************
    HEADER
    ******************************************/
    header nav { /* This will make the nav links float to the right at larger resolutions. */
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 55px;
        padding-top: 25px;
        text-align: right;
        width: 45%;
    }

    /* Keep links in main nav from changing color. They only change appearance when active. */
    header nav a, header nav a:visited, header nav a.selected, header nav a:hover {
        color: #fff;
    }

    #logoDiv {
        background: none;
        float: left;
        margin-left: 5px;
        text-align: left;
        padding: 0;
    }

    #logoDiv img {
        float: left;
        max-width: 120px;
        margin-bottom: 10px;
    }

    h1 {
        /* font-size: 2.5em; */
    }

    h2 {
        /* font-size: 0.825em; */
        margin-bottom: 20px;
        margin-top: 20px;
    }

    header {
        border-bottom: 5px solid #f27a2b;
        margin: 0px;
    }
}

@media screen and (min-width: 472px) {
    /* Custom stuff for the nav */
    header nav li {
        display: inline-block;
        padding-top: 0px;
    }
}