/******************************************
PAGE: RESUME
******************************************/
#resumeWrapperA {
    display:block;
    text-align:center;
}

h2 {
    padding-top: 10px;
    text-align: left;
}

.resume-photo {
    display: block;
    /** Using Block allows us to center the image using margins. Default is inline. **/
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto 30px;
    border-radius: 45%;
    border: 2px solid #af5920;
}

#resumeName {
    font-size: 3em;
    color: #af5920;
}

/* Profile List */
#professionalProfileList {
    display: block;
    text-align: left;
    padding-left: 0;
}

#professionalProfileList li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 3em;
}

/* Education List */
.courseName{
    font-style: italic;
    font-weight: normal !important;
}

.courseDate{
    font-weight: normal;
}

/* Cert Table */
table, th, td {
    border: 1px solid #af5920;
}

img.certBadge {
    max-width: 175px;
    padding-right: 5px;
}

td {
    padding: 5px;
}

th {
    background-color: #ac734d86;
}

/* Formatting for Download Links */
.downloadButton li {
    margin: 10px;
}

.downloadButton a {
    background-color: #f5c7a9;
    border-radius: 3px;
    padding: 10px;
    border: #5d2500 solid 1px;
    text-decoration: none;
}

nav p {
    text-align: left;
}