/******************************************
PAGE: RESUME
******************************************/

.resume-photo {
    display: block;
    /** Using Block allows us to center the image using margins. Default is inline. **/
    max-width: 175px;
    margin: 0 auto 30px;
    border-radius: 100%;
    border: 2px solid #af5920;
}

#resumeName {
    font-size: 3em;
    color: #af5920;
}

#resumeEmail {
    font-size: 1em;
}

#professionalProfileList {
    display: block;
    text-align: center;  
}

#professionalProfileList li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 3em;
}

.beforeSection {
    padding-top: 25px;
}

hr {
    margin-top: 25px;
}

#resumeWrapperA {
    display:block;
    text-align:center;
}

#resumeWrapperA h1 h2 {
    margin: 10 auto;
    color: #af5920;
}

#resumeWrapperB a {
    font-weight: bold;
}

#resumeWrapperB h1 h2 {
    font: black;
}

#resumeWrapperB h3 {
    color: #242424;
    font-size: 1em;
}

/* Education List */
.courseName{
    font-style: italic;
    font-weight: normal !important;
}

.courseDate{
    font-weight: normal;
}

/* Cert Table */
table, th, td {
    border: 1px solid #af5920;
}

img.certBadge {
    max-width: 175px;
    padding-right: 5px;
}

td {
    padding: 5px;
}

th {
    background-color: #ac734d86;
}